body {
    background-color: rgb(32, 32, 32);
    opacity: 0;
}

h1 {
    color: white;
    margin: auto;
    width: 50%;
    font-size: 2.5vw;
    text-align: center;
}

h3 {
    color: white;
    margin: auto;
    width: 50%;
    font-size: 1.5vw;
    text-align: center;
}

.navbar {
    overflow: hidden;
    background-color: rgb(32, 32, 32);
}

a {
    font-size: 1.5vw;
    color: white;
    text-decoration: none;
}