body {
    background-color: rgb(32, 32, 32);
    opacity: 0;
}

h1 {
    color:white;
    font-size: 2.5vw;
    text-align: center;
}

h2 {
    color: white;
    font-size: 2.5vw;
    text-align: center;
}

h3.intro {
    color: rgb(0, 128, 87);
    font-size: 2.5vw;
    text-align: center;
}

.navbar {
    overflow: hidden;
    background-color: rgb(32, 32, 32);
}

.maintext {
    padding-top: 10%;
}

img {
    width: 25%;
    height: 25%;
    max-width: 100%;
    border-top-left-radius: 50% 50%; 
    border-top-right-radius: 50% 50%; 
    border-bottom-right-radius: 50% 50%; 
    border-bottom-left-radius: 50% 50%;
}

a {
    font-size: 1.5vw;
    color: white;
    text-decoration: none;
}